@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Poppins:wght@400;700&display=swap");
:root {
  --primary: #291507;
  --gray: #e3e1dc;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  color: var(--primary);
}

.logo {
  font-family: "Mystery Quest", cursive;
}
.img {
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

hr {
  outline: none;
  border: 2px solid #4d270c;
  border-radius: 77px;
  width: 4rem;
  margin: 0.5rem 0 1rem 0;
}

@media all and (min-width: 700px) {
  html {
    font-size: 1.2rem;
  }
}
